@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.s_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #c00d0d;
    border-radius: 10%;
    padding: 10px;
    margin-left: 10px;
    border: none;
  }
  button:hover {
    cursor: pointer;
    background-color: #8b0a0a;
  }
}
